html, body {
    margin: 0px;
    background-color: #2f4f30;
    color: whitesmoke;
}

.titulo {
    text-align: center;
    background-color: black;
    padding: 20px;
    font-size: 25px;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
    height: 280px;
}